services:
  auth-service:
    build:
      context: .
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - ENVIRONMENT=development
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=auth
      - DB_PASSWORD=auth
      - DB_NAME=authdb
      - DB_SSLMODE=disable
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=
      - REDIS_DB=0
      - JWT_PRIVATE_KEY_PATH=/keys/private.pem
      - JWT_PUBLIC_KEY_PATH=/keys/public.pem
      - JWT_ACCESS_EXPIRY=15m
      - JWT_REFRESH_EXPIRY=168h
      - JWT_ISSUER=auth-service
      - AUTH_MAX_FAILED_LOGINS=5
      - AUTH_LOCK_DURATION=15m
      - CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080,http://127.0.0.1:3000,http://127.0.0.1:8080
      - EMAIL_ENABLED=true
      - EMAIL_PROVIDER=resend
      - EMAIL_API_KEY=re_Fbvyp6xq_8PKNsAvRcKCNjeJ6iUSbKTpY
      - EMAIL_FROM_EMAIL=noreply@cloudcentinel.com
      - EMAIL_FROM_NAME=Auth Service
      - EMAIL_BASE_URL=http://localhost:3000
      - EMAIL_VERIFICATION_URL=http://localhost:3000/verify-email
      - EMAIL_RESET_URL=http://localhost:3000/reset-password
    volumes:
      - ./keys:/keys:ro
      - ./migrations:/migrations:ro
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - auth-network

  postgres:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: auth
      POSTGRES_PASSWORD: auth
      POSTGRES_DB: authdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U auth -d authdb"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - auth-network

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - auth-network

volumes:
  pgdata:

networks:
  auth-network:
    driver: bridge

